@using DataAccessLayer.Models
@model Instructor
@{
    ViewData["Title"] = "Edit";
    SelectList deptList = new SelectList(ViewBag.Departments, "Id", "Name");
}


<h1 >Edit Instructor</h1>

<form asp-action="Edit" asp-controller="Instructor" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="AddEditInstructorPartialView" />
    <button type="submit" class="btn btn-primary">Submit</button>

    
        @* <div class="alert alert-success text-center">
            @ViewBag.Message <br />
            <small class="text-muted">Edited by @ViewBag.userIp on @ViewBag.LastEdited</small>
        </div> *@
    
</form >

@if (ViewBag.Message != null)
{
    <script>
        alert('@ViewBag.Message\nEdited by @ViewBag.userIp on @ViewBag.LastEdited');
    </script>
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

    @if (ViewBag.Message != null)
    {
        <script>
            alert('@ViewBag.Message\nEdited by @ViewBag.userIp on @ViewBag.LastEdited');
        </script>
    }
}