@using DataAccessLayer.Models
@model List<Department>

@{
    ViewData["Title"] = "GetAll";
}

<h1 class="text-center">All Departments</h1>

<a href="/Department/Add" class="btn btn-primary btn-lg " style="width: 25%;">Add Department</a>
<br />
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>ManagerName</th>
        <th>Location</th>
        <th>Branches</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.ManagerName</td>
            <td>@item.Location</td>
            <td>@foreach(var b in item.Branches)
                {
                    <span>@b.BranchName, </span>
                }
            </td>
            <td>
                <a asp-action="GetById" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-warning">Update Department</a>
                <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-danger">Delete Department</a>
            </td>
        </tr>
    }
</table>
@* <a href="" class="btn btn-primary">Add Department</a> *@